{% extends 'base.html' %}
{% load static %}
{% block title %}Ejitify おすすめのアーティスト{% endblock %}
{% block content %}
<!--アーティスト-->
<div id="artist_tracks">
  <div class="container" id='artist'>
    <div class="row">
      <div class="col-md-8">
        <img src="{{ artist.image2.url }}" class="img-fluid" alt="{{ artist.artist_name }}">
      </div>
      <div class="col-md-4">
        <h2>{{ artist.artist_name }}</h2>
        <p>{{ artist.comment }}</p>
        <p><strong>ジャンル:</strong> {{ artist.category.namecategory }}</p>
      </div>
    </div>
    <div class="row mt-4">
      <h3>曲一覧</h3>
      <ul>
        {{ artist.songs }}
        {% for song in artist.songs.all %}
        <li>{{ song.title }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>

  </article>
  <!--/アーティスト-->
  {% endblock %}