{% extends 'base.html' %}
{% load static %}
{% block title %}Ejitify ジャンル{% endblock %}
{% block content %}
<div id='display_genre'>
    <h1>すべてのジャンル</h1>
    <div class="container">
        <div class="row">
            {% for category in categories %}
            <div class="col-md-4">
                <!-- <a href="{% url 'Ejitify:index' %}"> -->
                <a href="#">
                    <img src="{{ category.imagecategory.url }}" class="img-fluid" alt="{{ category.namecategory }}">
                    <h3>{{ category.namecategory }}</h3>
                </a>

                <!-- デバッグ用に画像のURLを表示 -->
                <!-- <p>{{ category.imagecategory.url }}</p> -->
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</article>
{% endblock %}