{% extends "base.html" %}
{% load static %}

{% block title %}{{ playlist.name }}{% endblock %}

{% block content %}
<div class="playdetail" style="background-color:  rgb(112, 111, 111); padding: 20px; width: 100%;">
    <h1 style="color: white;">{{ playlist.name }}</h1>
    <ol>
        {% for song in playlist.songs.all %}
        <li style="color: white;">
            {{ song.song_title }}
            <br>
            <!-- 曲再生プレーヤーを曲名の下に表示 -->
            <audio controls style="width: 100%;">
                <source src="{{ song.file.url }}" type="audio/mpeg">
                お使いのブラウザはオーディオタグをサポートしていません。
            </audio>
        </li>
        {% endfor %}
    </ol>
</div>
</article>
{% endblock %}